<ion-view title="Buyer">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="Email">
                    <span class="input-label">E-Mail</span>
                    <input type="text" placeholder="name@example.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="At Least 5 characters">
                </label>
            </ion-list>
            <div class="button-bar">
                <button class="button button-stable button-outline button-block button-small">Forgot</button>
                <a href="#/buyerMenu/buyerHome" class="button button-positive button-block ">Login</a>
                <a href="#/signup" class="button button-dark button-block ">Sign up</a>
            </div>
        </form>
    </ion-content>
</ion-view>