<ion-view title="Home">
    <ion-content ng-controller="homeCtrl" overflow-scroll="true" padding="true" class="has-header">
        <h2>What do you want to buy today?</h2>
        <form ng-submit="submitForm(product)" class="list">
            <ion-list>
                <ion-item class="item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="product.name" type="text" placeholder="Enter product">
                </ion-item>
                <input type="submit" value="Search" class="button button-positive button-block ">
            </ion-list>
        </form>
        
    </ion-content>
</ion-view>