<ion-view title="My Orders">
    <ion-content ng-controller="myOrdersCtrl" overflow-scroll="true" padding="true" class="has-header">
        <div class="list card"  ng-repeat="p in products">
            <div class="item item-divider">{{ p.name }}</div>
            <div class="item item-body">
                <form class="list">
                    <ion-radio>Store 1: Rs 10</ion-radio>
                    <ion-radio>Store 2: Rs 20</ion-radio>
                    <ion-radio>Store 3: Rs 30</ion-radio>
                </form>
                <button class="button button-positive   icon-left ion-bag">Buy</button>
                <form class="list"></form>
                <form class="list"></form>
            </div>
        </div>
    </ion-content>
</ion-view>